DBT_TARGET=dev_snowflake
DBT_SNOWFLAKE_ACCOUNT=
DBT_SNOWFLAKE_USER=
DBT_SNOWFLAKE_PASSWORD=
DBT_SNOWFLAKE_ROLE=
DBT_SNOWFLAKE_DATABASE=
DBT_SNOWFLAKE_WAREHOUSE=
DBT_SNOWFLAKE_SCHEMA=

# AWS S3. Para DigitalOcean Spaces, preencha AWS_S3_ENDPOINT.
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_S3_ENDPOINT=
AWS_S3_USE_SSL=true
